
body{
	
	transition: opacity 0.9s linear;
	
}
.fadewrapper{
	
}
.bodyOp{
	opacity: 1;
}

#projects {
	height:100%;
}

.slide {
	display: block;
	opacity: 1;
	
	top:0px;
	left:0px;
	height: 100vh;
	width: 100%;

	padding-left: 25%;
	padding-right: 25%;
	transition: height 0.9s ease-in-out;
	
	transition: opacity 0.9 linear;
	transform: translateZ(0);
	overflow: hidden;
}


.slide:nth-child(1) { z-index:10 }
.slide:nth-child(2) { z-index:9 }
.slide:nth-child(3) { z-index:8 }
.slide:nth-child(3) { z-index:7 }

.active.slide {
	
	opacity: 1;
	

	
}

#project-0{
	width: auto;
	height: 110vh  ;
	background-image: url("../images/whitebg.png");
	background-size: cover;
	background-attachment: scroll;
	text-align: center;
	min-height: 100vh;
}

#project-1{
	background-image: url("../images/aboutbg.png");
	background-position: right bottom;
	background-size: auto 100vh;
	background-repeat: no-repeat;
	background-attachment: scroll;
	text-align: center;

	padding-top: 20vw;
	padding-bottom: 60vw;
}

#project-2{
	background-color:#f6f6f6;
	background-size: 100% 100%;
	padding: 10vh 0 10vh 0;
	
}

#project-3{
	background-color:#2C6CD2 ;
	background-size: 100% 100%;
	padding-top: 20vw;
	padding-bottom: 50vw;
	
}

#project-4{
	background-color:#ffffff;
	color: #ffffff;
	background-size: 100% 100%;
	text-align: center;
	
	padding-top: auto;
	
		padding-top: 20vw;
	padding-bottom: 50vw;
}

#project-5{
	background-color:#000000;
	color: #ffffff;
	background-size: 100% 100%;
	text-align: center;
	
	height: 50px;
}


/*Landing Content */

.landing-text{
	color: #000000; 
	font-family: 'Montserrat';
	font-weight: 700; 
	text-align: center;
}
.logorule{
	margin-top: 0px;
	margin-bottom: 30px;
	width: 70%;
	border-width: 2px;
}

#landing-title{
	margin-top: 30vh;
	margin-bottom: 4%;
	width: 25vw;
	max-width: 50vw;
	letter-spacing: 8px;
}

@media screen and (max-width: 1000px) {
    #landing-title{
		margin-top: 30vh;
    }
}

#landing-subtitle{ 
	font-size: 2.5vh; 
	letter-spacing: 4px;
	
}


#landing-caption{
	font-family: 'montserratlight';
    font-weight: 100;
	font-size: 3vw; 
	letter-spacing: 4px;
	margin-top: 2%;
	line-height: 1em;
	margin-bottom: 6vh;
}

.ghost-button{
	
	color: #FF186E;
	font-size: 3vh;
	font-weight: normal;
	
	background-color: Transparent;
	border: 3px solid #FF186E;
	border-radius: 5px;

	letter-spacing: 4px;
	text-decoration: none;
	font-family: 'Montserrat';
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 2em;
	padding-right: 2em;

}

.ghost-button:hover, .ghost-button:active{
  color:#ffffff;
  background-color:#FF186E;
  text-decoration: none;
  border-color: #FF186E;
}

/*About Content*/
.abouthead{
	color: #00D9CA;
	margin-top: 0;
	margin-bottom: 0.5%;
	font-size: 2.6vw;

}

.aboutrule{
	border-color: #00D9CA;
	border-width: 4px;
	width: 30%;
	margin-top: auto;
	margin-bottom: 0;
}

.aboutbody{
	color: #000000; 
	font-family: 'montserratlight';
	font-size: 1.6vw;
	font-weight: 400; 
	text-align: center;
}

#block1up{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100vw;
	text-align: left;
	padding: 0;
	margin: 0;
	z-index: 999;
}

#block1up > img{
	height: auto;
	width: 100%;
	z-index: 999;
}

#block1down{
	position: absolute;
	top: -5px;
	left: 0;
	width: 100vw;
	text-align: left;
	padding: 0;
	margin: 0;
}

#block1down > img{
	height: auto;
	width: 100vw;
	z-index: 999;
}

/*Speakers */

.speakersrule{
	border-color: #FF186E;
	border-width: 4px;
	width: 35%;
	margin-top: auto;
	margin-bottom: 0;
}
.speakershead{
	color: #2C6CD2;
	margin-top: 15vh;
	margin-bottom: 1%;
	font-size: 3vw;

}
.speakersbody{
	color: #000000; 
	font-family: 'San Francisco';
	font-size: 30px;
	font-weight: 400; 
	text-align: center;
}

.speakerimg{
	width: 10vw;
	height: auto;
}

.speakerrow{
	margin: 50px auto 50px auto;
	text-align: center;
}

/*Sponsors*/

/*Speakers */

.sponsorsrule{
	border-color: #00D9CA	;
	border-width: 4px;
	width: 30%;
	margin-top: auto;
	margin-bottom: 0;
}
.sponsorshead{
	color: #2C6CD2 ;
	margin-top: 15vh;
	margin-bottom: 1%;
	font-size: 2.6vw;
	letter-spacing: auto;
}
.sponsorsbody{
	color: #000000; 
	font-family: 'San Francisco';
	font-size: 1.6vw;
	font-weight: 400; 
	text-align: center;
}