
body{
	
	transition: opacity 0.9s linear;
	
}
.fadewrapper{
	
}
.bodyOp{
	opacity: 1;
}

#projects {
	height:100%;
	background-color: #f6f6f6;
}

.slide {
	display: block;
	opacity: 1;
	
	top:0px;
	left:0px;
	height: 100vh;
	width: 100%;

	padding-left: 25%;
	padding-right: 25%;
	transition: height 0.9s ease-in-out;
	
	transition: opacity 0.9 linear;
	transform: translateZ(0);
	overflow: hidden;
}


.slide:nth-child(1) { z-index:10 }
.slide:nth-child(2) { z-index:9 }
.slide:nth-child(3) { z-index:8 }
.slide:nth-child(3) { z-index:7 }

.active.slide {
	
	opacity: 1;
	

	
}

#project-0{
	width: auto;
	height: 110vh  ;
	background-image: url("../images/whitebg.png");
	background-size: cover;
	background-attachment: scroll;
	text-align: center;
	min-height: 100vh;
}

#project-1{
	/*background-image: url("../images/aboutbg.png");*/
	background: #ffffff;
	background-position: right bottom;
	background-size: auto 100vh;
	background-repeat: no-repeat;
	background-attachment: scroll;
	text-align: center;

	padding-top: 18vw;
	padding-bottom: 60vw;
}



#project-2{
	overflow: visible;
	background-color:transparent;
	background-size: 100% 100%;
	padding: 15vh 0 150vh 0;
	min-height: 260vh;
}

@media screen and (max-height: 845px){
	#project-2{
		padding-bottom: 180vh !important;
	}
}	

#project-3{
	background-color:#2C6CD2 ;
	background-size: 100% 100%;
	padding-top: 20vw;
	padding-bottom: 50vw;
	
}

#project-4{
	background-color:#ffffff;
	color: #ffffff;
	background-size: 100% 100%;
	text-align: center;
	
	padding-top: auto;
	
		padding-top: 20vw;
	padding-bottom: 50vw;
}

#project-5{
	height: auto !important;
	background-color:#4A4A4A;
	color: #ffffff;
	background-size: 100% 100%;
	text-align: center;

	padding-top: 20vw;
	padding-bottom: 5vw;
}

.quote{
	color: #BBBBBB;
	text-align: center;
	font-family: 'Montserrat';
	font-size: 30px;
	line-height: 2em;
}
.quotename{
	color: #ffffff;
	opacity: .25;
	font-family: 'Montserrat';
	letter-spacing: 2px;
	font-size: 20px;
	line-height: 1.5em;
}

#project-6{
	background-color:#000000;
	color: #ffffff;
	background-size: 100% 100%;
	text-align: center;
	
	height: 130px;
}

.copyright{
	margin-top: 55px;
	color: #ffffff;
	letter-spacing: 2px;
	font-size: 20px;
	font-family: 'Montserrat';
}


/*Landing Content */

.landing-text{
	color: #000000; 
	font-family: 'Montserrat';
	font-weight: 700; 
	text-align: center;
}
.logorule{
	margin-top: 0px;
	margin-bottom: 30px;
	width: 70%;
	border-width: 2px;
}

#landing-title{
	margin-top: 30vh;
	margin-bottom: 4%;
	width: 25vw;
	
	letter-spacing: 8px;
}

@media screen and (max-width: 1077px) {
    #landing-title{
		width: 45vw;
		margin-top: 30vh;
    }
	.quote{
		font-size: 30px;
	}
	.quotename{
		font-size: 25px;
	}
}

#landing-subtitle{ 
	font-size: 2.5vh; 
	letter-spacing: 4px;
	
}


#landing-caption{
	font-family: 'montserratlight';
    font-weight: 100;
	font-size: 3vw; 
	letter-spacing: 4px;
	margin-top: 3%;
	line-height: 1.2em;
	margin-bottom: 6vh;
}

.ghost-button{
	
	color: #2C6CD2 ;
	font-size: 3vh;
	font-weight: normal;
	
	background-color: Transparent;
	border: 3px solid #2C6CD2 ;
	border-radius: 5px;

	letter-spacing: 4px;
	text-decoration: none;
	font-family: 'Montserrat';
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 2em;
	padding-right: 2em;

}

.ghost-button:hover, .ghost-button:active{
  color:#ffffff;
  background-color:#2C6CD2 ;
  text-decoration: none;
  border-color: #2C6CD2 ;
}

/*About Content*/
.abouthead{
	color: #00D9CA;
	margin-top: 0;
	margin-bottom: 0.5%;
	font-size: 2.9vw;

}

.aboutrule{
	border-color: #00D9CA;
	border-width: 4px;
	width: 30%;
	margin-top: auto;
	margin-bottom: 0;
}

.aboutbody{
	color: #000000; 
	font-family: 'montserratlight';
	font-size: 1.3vw;
	font-weight: 400; 
	text-align: center;
}

#block1up{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100vw;
	text-align: left;
	padding: 0;
	margin: 0;
	z-index: 999;
}

#block1up > img{
	height: auto;
	width: 100%;
	z-index: 999;
}

#block1down{
	position: absolute;
	top: -5px;
	left: 0;
	width: 100vw;
	text-align: left;
	padding: 0;
	margin: 0;
	z-index: 999
}

#block1down > img{
	height: auto;
	width: 100vw;
	z-index: 999;
}

/*Speakers */

.speakersrule{
	border-color: #00D9CA;
	border-width: 4px;
	width: 18%;
	margin-top: auto;
	margin-bottom: 30px;
	overflow: auto;
}
.speakername{
	color: #2C6CD2;
	text-align: left;
	font-size: 36px;
	margin-left: 12px;
	font-weight: 650;
	font-family: 'Montserrat';
	margin-bottom: 0px;
	margin-top: 20px;
}
.speakerposition{
	color: #00D9CA;
	text-align: left;
	font-size: 15px;
	margin-left: 12px;
	margin-bottom: 5px;
	font-weight: 650;
	font-family: 'montserratlight';
}
.speakercaption{
	text-align: left;
	font-size: 15px;
	margin-left: 12px;
	font-weight: 650;
	font-family: 'montserratlight';
	color: #000000;

}

.speakershead{
	color: #2C6CD2;
	margin-top: 15vh;
	margin-bottom: 1%;
	font-size: 50px;
	letter-spacing: auto;
}
.speakersbody{
	color: #000000; 
	font-family: 'San Francisco';
	font-size: 30px;
	font-weight: 400; 
	text-align: center;
}

.speakerimg{
	
	margin-left: -20px;
	max-width: 300px; 
	width: 100%;
	height: auto;
}

.speakerrow{
	margin: 50px auto 50px auto;
	text-align: center;
}

.speakercont{
	text-align: center;
}

/*Sponsors*/
.sponsorsrule{
	border-color: #00D9CA	;
	border-width: 4px;
	width: 30%;
	margin-top: auto;
	margin-bottom: 0;
}
.sponsorshead{
	color: #2C6CD2 ;
	margin-top: 15vh;
	margin-bottom: 1%;
	font-size: 2.6vw;
	letter-spacing: auto;
}
.sponsorsbody{
	color: #000000; 
	font-family: 'San Francisco';
	font-size: 1.6vw;
	font-weight: 400; 
	text-align: center;
}
@media screen and (max-width: 985px){
	
	#landing-title{
		
		
	}
	
	#project-2{
		padding-bottom: 380vh;
		padding-left: 20px;
		padding-right: 20px;
	}
	.speakercaption{
		margin-bottom: 10px;
	}
	.speakerbody{
		text-align: left;
	}
	.speakername, .speakerposition{
		text-align:center;
	}
	.speakerimg{margin-left: 16px;
	margin-top: 50px;}
}

@media screen and (max-width: 768px){
	.speakershead{
		font-size: 10vw;
	}
	.sponsorshead{
		font-size: 9vw !important;
	}
	.abouthead{
		
		font-size: 25px;
	}
	.aboutbody{
		font-size: 15px;
	}
	.slide{
		text-align: center;
		padding-left: 15vw;
		padding-right: 15vw;
	}
	#project-0{
		padding-bottom: 0vh !important;
	}
	#project-3{
		padding-bottom: 120vh;
	}
	#project-4{
		padding-bottom: 120vh
	}
	
}	